/* Minor Adjustments */

@media (max-width: 1100px) {	
	.infoWrap {
		width: 350px;
	}
}

/* Mobile & Tablet */

@media (min-width: 1024px) {
	#mobileMenu {
		display: none;
	}
}

@media (max-width: 1024px) {
	.section.landing {
		background-position: center;
	}
	
	.logo.desktop, #navButtonWrap {
		display: none;
	}
	
	.logo.mobile {
		display: flex;
	}
	
	.content {
		width: 100%;
	}
	
	.content.about {
		flex-wrap: wrap;
	}
	
	#about_portrait {
		height: 50vw;
		width: 50vw;
		margin: 0 0 20px 0;
	}
	
	#about_text {
		margin: 30px 0 0 0;
	}
	
	.infoWrap {
		width: 400px;
	}
	
	/* mobile components */
	#menuButton {
		display: flex;
	}
}

@media (max-width: 900px) {
	.videoAndInfoWrap {
		flex-direction: column !important;
	}
	
	.spacer {
		display: none;
	}
	
	.videoWrap {
		margin-bottom: 30px;
	}
	
	.extraPanel {
		width: 90vw;
	}
	
	.extra div {
		height: auto;
		margin: 5px 0;
	}
	
	.script_wrap {
		flex-direction: column;
		max-width: 90vw;
	}
	
	.script_info_wrap {
		width: 360px;
		max-width: 90vw;
		margin: 0 0 30px 0;
		padding: 0 50px 0 50px;
		border: none;
	}
	
	.script_text {
		margin: 0;
		max-width: 90vw;
	}
	
	.content.scripts .script_wrap:nth-child(odd) .script_info_wrap {
		border-left: 5px solid #f66;
	}
	
	.content.scripts .script_wrap:nth-child(even) .script_info_wrap {
		border-right: 5px solid #f66;
	}
	
	#about_portrait {
		height: 60vw;
    	width: 60vw;
	}
}
	
@media (max-width: 600px) {
	.divider.factual {
		font-size: 9.5vw;
	}
}