<section class="sctn-scripts">
	<div class="content">
		{{#each projects}}
			<div class="script-wrap">
				<div class="script-info-wrap">
					<div class="script-title">{{title}}</div>
					<div>{{category}}</div>
				</div>
				<p class="script-text">{{text}}</p>
			</div>
		{{/each}}
	</div>
</section>
