<section class="sctn-scripts">
	<div class="content">
		{{#each projects}}
			<div class="script-wrap">
				<div class="script-info-wrap">
					<div class="script-title">{{title}}</div>
					<div><i>{{role}}</i></div>
				</div>
				<p class="script-text">
					{{#if location}}
						{{location}}.<br><br>
					{{/if}}
					{{{text}}}</p>
			</div>
		{{/each}}
	</div>
</section>
