.logo {
	position: fixed;
	top: 0;
	right: 0;
	height: 15rem;
	width: 15rem;
	margin: 2rem;
	background-image: url('../pics/mdflogo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.nav-button-wrap {
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	top: 19rem;
	right: 0;
}

.nav-thing {
	margin-bottom: .7rem;
}

.nav-thing:hover .stick {
	width: 2.8rem;
}

.nav-button {
	width: 14rem;
	padding: .5rem 0 0 .5rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font: 2.7rem Simplifica;
}

.stick {
	width: 2.3rem;
	height: .2rem;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.1s;
}
