html {
  font-size: 62.5%;
}

body, button, a, div, section, h2, p {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div, a, button, h2, span {
  @include flex();
}

a:hover, button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

iframe {
  border: none;
}
