@font-face {
  font-family: Simplifica;
  src: url("../fonts/simplifica.ttf"); }

@font-face {
  font-family: Dense;
  src: url("../fonts/dense.otf"); }

html {
  font-size: 62.5%; }

body, button, a, div, section, h2, p {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div, a, button, h2 {
  display: flex;
  justify-content: center;
  align-items: center; }

a:hover, button:hover {
  cursor: pointer; }

button:focus {
  outline: none; }

a {
  text-decoration: none; }

button {
  background-color: transparent; }

body {
  background-color: #1a1a1a; }

h2.divider {
  justify-content: flex-start;
  height: 10rem;
  width: 100vw;
  padding-left: 2.5rem;
  color: white;
  background-color: #1a1a1a;
  font: 6rem Dense; }

section {
  width: 100vw;
  background-color: #222; }

.content {
  flex-direction: column;
  width: calc(100% - 19rem);
  padding: 7vh 2rem;
  background-color: #262626; }

.logo {
  position: fixed;
  top: 0;
  right: 0;
  height: 15rem;
  width: 15rem;
  margin: 2rem;
  background-image: url("../pics/mdflogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.nav-button-wrap {
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 19rem;
  right: 0; }

.nav-thing {
  margin-bottom: .7rem; }

.nav-thing:hover .stick {
  width: 2.8rem; }

.nav-button {
  width: 14rem;
  padding: .5rem 0 0 .5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font: 2.7rem Simplifica; }

.stick {
  width: 2.3rem;
  height: .2rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s; }

.sctn-landing {
  height: 100vh;
  background-image: url("../pics/lafs.png");
  background-size: cover; }

.sctn-about .content {
  flex-direction: row; }

.portrait-imdb-wrap {
  flex-direction: column;
  margin-right: 2rem; }

.portrait {
  height: 20vw;
  width: 20vw;
  border-radius: 100%;
  margin-bottom: 2rem; }

.imdb-link {
  width: 9rem;
  padding: .8rem 0 .6rem 0;
  margin: 0 .5rem;
  border-radius: .3rem;
  background-color: #1a1a1a;
  color: white;
  font: 2.5rem Dense;
  letter-spacing: .1rem; }

.imdb-link:hover {
  background-color: #333; }

.about-text {
  flex-direction: column;
  align-items: flex-start;
  max-width: 70rem;
  margin-left: 1rem;
  padding: 2rem;
  color: white;
  background-color: #222;
  font: 2rem Simplifica;
  letter-spacing: 0.05rem; }

.about-text p:not(:last-child) {
  margin: 0 0 1.2rem 0; }

.script-wrap {
  max-width: 95%;
  color: white;
  font: 2rem Simplifica;
  letter-spacing: 0.05rem; }

.script-wrap:not(:first-child) {
  margin-top: 3rem; }

.script-wrap:not(:last-child) {
  padding-bottom: 3rem;
  border-bottom: .1rem solid #333; }

.script-info-wrap {
  flex-direction: column;
  min-width: 31rem;
  margin-right: 3rem;
  padding-right: 2rem;
  border-right: 0.5rem solid #f66; }

.script-title {
  font: 4rem Dense;
  white-space: nowrap; }

.script-text {
  width: 71rem; }
